$color: #dc3545;

@media (max-width: 768px) {
    .btn {
    width: 100% !important;
    }
    .header {
        text-align: center;
    }
}

.container {
    border: 1px solid $color;
  }

.header {
    color: $color;
  }

.btn {
    background-color: $color !important;
    color: white !important;
}

label {
    color: $color;
    font-weight: bold;
}

input {
    border-color: lighten($color, 30%) !important;
}

input:focus {
    border-color: $color !important;
    outline: $color !important; 
}