$color: #dc3545;

.listing-card {
  @media (max-width: 576px) {
    width: 100% !important;
  }
}

.property-image {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
}

.header {
    color: $color;
}

.listing-card {
    border: 1px solid $color;
    text-align: center;
    width: 50%;
    margin: auto;
}

.listing-title {
    color: $color;
    font-weight: bold;
    font-size: larger;
}

.listing-info {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

  .btn {
    margin: 0 5px !important;
  }