$color: #dc3545;

.listing-card {
  @media (max-width: 576px) {
    width: 100% !important;
  }
}

.property-image {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
}

.header {
    color: $color;
}

.listing-buttons {
  display: flex;
  justify-content: space-around;
}

.listing-card {
  background: linear-gradient(35deg, rgba(248, 52, 52, 0.15), rgba(238, 194, 194, 0.2)) !important;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  border: 1px solid $color;
  text-align: center;
}

.listing-title {
    color: $color;
    font-weight: bold;
    font-size: larger;
}

.listing-info {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

  .btn {
    margin: 0 5px !important;
  }