$color: #dc3545;

.booking-card {
  @media (max-width: 576px) {
    width: 100% !important;
  }
}

.property-image {
    padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
    background-size: cover;
    background-position: center;
  }

.header {
    color: $color;
}

.booking-card {
    background: linear-gradient(35deg, rgba(248, 52, 52, 0.15), rgba(238, 194, 194, 0.2)) !important;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border: 1px solid $color;
    text-align: center;
}

.booking-title {
    color: $color;
    font-weight: bold;
    font-size: larger;
}

.booking-info {
    color: black;
    text-transform: uppercase;
}

a {
    color: $color !important;
}