$color: #dc3545;

.booking-card {
  @media (max-width: 576px) {
    width: 100% !important;
  }
}

.property-image {
    padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
    background-size: cover;
    background-position: center;
  }

.header {
    color: $color;
}

.booking-card {
    border: 1px solid $color;
    text-align: center;
    width: 50%;
    margin: auto;
}

.booking-title {
    color: $color;
    font-weight: bold;
    font-size: larger;
}

.booking-info {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

a {
    color: $color !important;
}