$color: #dc3545;

.booking-card {
  @media (max-width: 576px) {
    width: 100% !important;
  }
}

.property-image {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  margin-left: 10px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
}

.header {
    color: $color;
    font-weight: bold;
    text-align: center;
}

.booking-card {
  // give the background of the card an opaque glass effect
    background: linear-gradient(135deg, rgba(240, 70, 70, 0.15), rgba(238, 194, 194, 0.2)) !important;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid $color;
    text-align: center;
    width: 50%;
    margin: auto;
}

.booking-title {
    color: $color;
    font-weight: bold;
}

.booking-info {
    color: rgb(48, 48, 48);
}

.booking-btn {
    background-color: $color !important;
    color: white !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 10px !important;
    margin: 10px !important;
    &:hover {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      font-size: 1.1em;
      transition: all 0.1s ease-in-out;
    }
}


